%body#group 
  .container
    .group
      .group_title
        %h1 チャットグループ一覧
      .group_search
        = search_form_for @q do |f|
          .group_search_form
            = f.label :keywords, t('helpers.keywords'), class: 'group_search_form_title'
            = f.text_field :keywords, required: false, value: params.dig(:q, :keywords), placeholder: 'グループ検索', class: 'group_search_form_content'
          = f.button :submit, class: 'group_search_form_button'
      .group_new
        = link_to new_group_path do
          %span.fa.fa-plus
    - if @groups_joining == []
      = @groups_lists_none
    - elsif @groups_result.present?
      %div.group_list
        .group_list_table
          - @groups_result.each do |result|
            .group_list_table_item
              = link_to group_path(result.id) do
                = result.group_name
    - else
      %div.group_list
        .group_list_table
          - @groups.each do |group|
            .group_list_table_item
              = link_to group_path(group.id) do
                = group.group_name 